<h1>Pages#home</h1>
<%= react_component("ProfileMessage", { user: @user }) %>
<%= react_component("SkillRating", { last_month_reports: @last_month_reports }) %>
<h1>Testing</h1>
<% @last_month_reports.each do |report| %>
  <h2>report</h2>
  <% report.key_traits.each  do |key_trait| %>
    <p><%= key_trait.category %></p>
    <% key_trait.skill_groups.each do |skill_group| %>
      <p><%= skill_group.category %></p>
      <p><%= skill_group.score %></p>
      <p><% skill_group.skills.each do |skill| %></p>
        <%= skill.name %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
